body {
  background-image: url("https://wallpapercave.com/wp/wp2558530.jpg");
  background-color: rgba(255, 247, 247, 0.459);
  background-blend-mode: soft-light;
}
.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}